/* Custom scrollbar style */
.sidebar {
    overflow-y: auto;
  }
  
  .sidebar::-webkit-scrollbar {
    width: 6px; /* Set width of the scrollbar */
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: transparent; /* Make track transparent */
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
  }
  
  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darken on hover */
  }
  